@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

:root {
    /* --theme-color: rgb(255, 217, 0); */
    --theme-color: #685642;
    --background-color: #fffef5;
    --font-color:#f4f0cb;
    --extra-color: #B7C68B;
    --prime-opacity: 0.7;
    --input-output-font: 'Times New Roman', Times, serif;
}

*{
    /* font-family: 'Lobster Two', cursive; */
    font-family: 'ZCOOL KuaiLe', cursive;
}

body {
    margin:0;
    color:var(--font-color);
    background-color: var(--background-color);
}

.header-heading {
    text-align: center;
    padding:2rem;
    background-color: var(--theme-color);
    margin:auto;
}

.input-section {
    margin:auto;
    width:60%;
    /* border:2px solid black;  */
}
.input-section h2{
    color:var(--theme-color);
}

#txt-input {
    width:100%;
    height:15vh;
    padding:1rem;
    box-sizing: border-box;
    font-size:16px;
    font-family: var(--input-output-font);
    background: var(--extra-color);
    opacity: var(--prime-opacity);
}

#btn-translate {
    display:block;
    background-color: var(--theme-color);
    padding: 1em 3rem;
    margin:0.5rem auto;
    border:none;
    outline:none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1rem;
    cursor:pointer;
    color:var(--font-color);
}

#output-div {
    width:60%;
    /* border:2px solid black; */
    border:none;
    height:15vh;
    margin:2.5rem auto;
    font-family: var(--input-output-font);
    color:gray;
    padding:1rem;   
    box-sizing: border-box;
    overflow-y:scroll;
    background: var(--extra-color);
    opacity: var(--prime-opacity);
}

#yoda-img-1 {
    position:absolute;
    top:7rem;
    right: 1rem;
    z-index: -1;
}

#yoda-img-2 {
    position:absolute;
    bottom:13rem;
    left: -3rem;
    
    width:20rem;
    height:10rem;
    z-index: -1;
}

.footer {
    position: relative;
    bottom:0;
    /* margin:auto;  */
    text-align: center;
    padding:2rem;
    background-color: var(--theme-color);
}

.footer .footer-heading {
    font-size: 30px;
    font-weight: bold;
}
.footer .footer-description {
    font-size: 24px;
    width: 60%;
    margin:1rem auto;
}


/* hover effects */

#btn-translate:hover {
    background: var(--font-color);
    color:var(--theme-color);
}